modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"
waitForPort = 8000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd server && node server.js & cd client && npm run build && npx serve -s dist -l 5000"]

[userenv]

[userenv.shared]
NODE_ENV = "development"
PORT = "8000"
DEV_SEND_OTP_IN_TERMINAL = "true"
MONGODB_URI = "mongodb+srv://Pharmacy_cluster:Pharma092025@cluster0.yxlffrz.mongodb.net/?appName=Cluster0"
JWT_SECRET = "pharma_jwt_secret_replit_2025"
JWT_REFRESH_SECRET = "pharma_refresh_secret_replit_2025"
JWT_EXPIRE = "15m"
JWT_REFRESH_EXPIRE = "7d"
CLIENT_URL = "https://bbc67e1b-e4a7-4bff-bcf2-f2ad7a47794f-00-29scu0mhsmcuc.sisko.replit.dev"
UPLOAD_PATH = "uploads"
MAX_FILE_SIZE = "5242880"
